@use "sass:math";

$frameCount: 147;

.animation{
  &__container{
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    scroll-timeline: --videoTimeline y;
    scroll-timeline: --videoTimeline vertical;
  }
  &__inner{
    width: 100%;
    height: #{$frameCount * 5}vh;
  }
  &__video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/frames2/frame-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    pointer-events: none;
    //animation: videoAnimation 2s infinite;
    animation-name: videoAnimation;
    animation-duration: 1ms;
    animation-timeline: --videoTimeline;
  }
}

@keyframes videoAnimation {
  @for $i from 1 through $frameCount {
    #{math.div($i, $frameCount)*100}% {
      background-image: url('assets/frames2/frame-#{$i}.jpg');
    }
  }
}
